@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --primary-color: #0079ff;
  --dark-color: #141d2f;
  --white-color: #fff;
  --secondary-color: #1e2a47;
  --main-background-color: #f6f8ff;
  --main-white-color: #fefefe;
  --black-color: #222731;

  --hover-dark-color: #90a4d4;

  --light-gray-color: #697c9a;
  --light-pale-blue: #4b6a9b;
  --light-dark-gray: #2b3442;
  --heading-one-font: clamp(2.6rem, 4vw, 3.8rem);
  --heading-two-font: clamp(2.2rem, 3.5vw, 3.3rem);
  --heading-three-font: clamp(1.6rem, 3vw, 2.4rem);
  --heading-four-font: clamp(1.3rem, 2.5vw, 2rem);
  --body-font: clamp(1.5rem, 2vw, 2.5rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}

.sunSVG {
  display: none;
}

.mobile-avatar {
  width: 100%;
  border-radius: 50%;
}

.link,
.text {
  color: var(--light-pale-blue);
}

.link:hover {
  text-decoration: underline;
}

.dark {
  color: var(--white-color);
  fill: var(--white-color);
}

.light {
  color: var(--light-pale-blue);
  fill: var(--white-color);
}
